.home-page-wrapper {
  display: flex;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  position: relative;
}

.home-page-txt {
  width: 570px;
  height: 555px;
  background-color: rgba(244, 244, 244, 0.7);
  padding: 30px;
  border-radius: 5%;

  .hf-hospitality-meet {
    color: #24afe8;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 19px;
    margin-bottom: 15px;
  }

  .hf-hospitality-title {
    color: #2b2b2b;
    font-size: 34px;
    font-weight: bold;
    line-height: 40px;
    margin-bottom: 20px;
  }

  .hf-hospitality-text {
    color: rgba(43, 43, 43, 0.8);
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 30px;
  }

  .hf-hospitality__read-more {
    position: relative;
    font-size: 17px;
    font-weight: 500;
    line-height: 20px;
    padding: 5px;
  }

  .hf-hospitality__read-more:after {
    position: absolute;
    content: url(https://hf-static-pages.s3.eu-central-1.amazonaws.com/img/hospitality_software/arrow.svg);
    padding-left: 8px;
    vertical-align: middle;
    transition: 0.4s;
  }
}

.home-page-img {
  width: 595px;
  height: 615px;
  position: absolute;

  .group {
    position: inherit;
    height: 90px;
    width: 90px;
    background-color: #ffffff;
    border: 0.91px solid #24afe8;
    border-radius: 10.87px;
    z-index: 100;
    transition-property: all;
    transition: all ease 0.5s;
  }

  .group-block {
    width: 200px;
    position: relative;
  }

  .group-title {
    position: absolute;
    z-index: 100;
    padding-top: 10px;

    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 19px;
    top: 90px;

    transition-property: all;
    transition: all ease 0.1s;
  }

  .property-management {
    left: 41.5%;
  }

  .title__property-management {
    left: -17%;
  }

  .channel-manager {
    left: 72%;
    top: 68px;
  }

  .title__channel-manager {
    left: -10%;
  }

  .direct-booking {
    left: 83.5%;
    top: 248.5px;
  }

  .title__direct-booking {
    left: -5%;
  }

  .payments {
    left: 72%;
    top: 429px;
  }

  .title__payments {
    left: 5%;
  }

  .cash-register {
    left: 41.8%;
    top: 497px;
  }

  .title__cash-register {
    left: -3%;
  }

  .room-access {
    left: 12%;
    top: 429px;
  }

  .title__room-access {
    left: -2%;
  }

  .reporting {
    left: 0.2%;
    top: 249px;
  }

  .title__reporting {
    left: 4%;
  }

  .mobile-guest-app {
    left: 12%;
    top: 68px;
  }

  .title__mobile-guest-app {
    left: -10%;
  }

  .group-title:hover {
    color: #26ade4;
    cursor: pointer;
  }

  .group:hover {
    background-color: #26ade4;
    color: #26ade4;
    cursor: pointer;
  }
}
