<div class="home-page-wrapper">
  <img src="/assets/hf-home-img.png" alt="navigation hf" />
  <ul class="home-page-img">
    <li class="group property-management">
      <img src="/" alt="" />
      <div class="group-block">
        <h3 class="group-title title__property-management">
          Property Management
        </h3>
      </div>
    </li>

    <li class="group channel-manager">
      <img src="/" alt="" />
      <div class="group-block">
        <h3 class="group-title title__channel-manager">Channel Manager</h3>
      </div>
    </li>

    <li class="group direct-booking">
      <img src="/" alt="" />
      <div class="group-block">
        <h3 class="group-title title__direct-booking">Direct Booking</h3>
      </div>
    </li>

    <li class="group payments">
      <img src="/" alt="" />
      <div class="group-block">
        <h3 class="group-title title__payments">Payments</h3>
      </div>
    </li>

    <li class="group cash-register">
      <img src="/" alt="" />
      <div class="group-block">
        <h3 class="group-title title__cash-register">Cash Register</h3>
      </div>
    </li>

    <li class="group room-access">
      <img src="/" alt="" />
      <div class="group-block">
        <h3 class="group-title title__room-access">Room Access</h3>
      </div>
    </li>

    <li class="group reporting">
      <img src="/" alt="" />
      <div class="group-block">
        <h3 class="group-title title__reporting">Reporting</h3>
      </div>
    </li>

    <li class="group mobile-guest-app">
      <img src="/" alt="" />
      <div class="group-block">
        <h3 class="group-title title__mobile-guest-app">Mobile Guest App</h3>
      </div>
    </li>
  </ul>
  <div class="home-page-txt">
    <h3 class="hf-hospitality-meet">MEET</h3>
    <h4 class="hf-hospitality-title">Direct Booking</h4>

    <p class="hf-hospitality-text">
      A native booking engine is your key to zero-commission bookings. It allows
      guests to book a property online on your website without making annoying
      calls. That’s a win-win for both, as the customers book whenever they want
      and your team gains free time for important tasks.
    </p>

    <a href="/b/booking-engine" class="hf-hospitality__read-more">
      Read More
    </a>
  </div>
</div>
